@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.cdnfonts.com/css/roobert'); */

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: rgba(30, 30, 30, 1);
	--background-end-rgb: rgba(83, 24, 111, 1);
}

.bg-gradient {
	background: rgb(30, 30, 30);
	background: linear-gradient(315deg, rgba(30, 30, 30, 1) 81%, rgba(83, 24, 111, 1) 100%) rgb(30, 30, 30);
}

body {
	font-family: 'Roobert', sans-serif;
	/* background: linear-gradient(315deg, var(--background-start-rgb) 81%, var(--background-end-rgb) 100%) rgb(30, 30, 30); */
}

@font-face {
	font-family: 'CANAVAR';
	font-style: normal;
	font-weight: 800;
	src: local('CANAVAR'), url('/fonts/canavar/CANAVAR.ttf') format('truetype');
}
@font-face {
	font-family: 'Roobert';
	font-style: normal;
	font-weight: 400;
	src: local('Roobert'), url('/fonts/roobert/RoobertRegular.woff') format('woff');
}
@font-face {
	font-family: 'Roobert';
	font-style: normal;
	font-weight: 300;
	src: local('Roobert'), url('/fonts/roobert/RoobertLight.woff') format('woff');
}
@font-face {
	font-family: 'Roobert';
	font-style: normal;
	font-weight: 500;
	src: local('Roobert'), url('/fonts/roobert/RoobertMedium.woff') format('woff');
}
@font-face {
	font-family: 'Roobert';
	font-style: normal;
	font-weight: 600;
	src: local('Roobert'), url('/fonts/roobert/RoobertSemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Roobert';
	font-style: normal;
	font-weight: 700;
	src: local('Roobert'), url('/fonts/roobert/RoobertBold.woff') format('woff');
}
@font-face {
	font-family: 'Roobert';
	font-style: normal;
	font-weight: 900;
	src: local('Roobert'), url('/fonts/roobert/RoobertHeavy.woff') format('woff');
}
